
<!DOCTYPE html> 
<html>
    <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Ingresa</title> 
        <base href = "/"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet">
        <!-- <link href="css/style-login.css" rel="stylesheet">  -->
        <link href="css/styleunificado.css" rel="stylesheet">

       
    </head>
<body>
    <header>

        <div class="container-header">
            <div class="burger-menu">
                    <i class="background-burger fa-solid fa-bars"></i>
            </div>

            <div class="logo">                
                <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo" alt="Logo"></a> 
            </div>
            <div class="search-bar">
                <form action="#" method="GET">
                
                    <input class="input-header" type="text" placeholder="Busca tu producto" name="search">
                    
                    <button>
                        <i class="fa fa-search" style="font-size: 16px;"></i>
                    </button>     
                </form>
                </div>  
                <div class="carrito-compra">
                <a href="/carrito" target="blank" title=" Tus Compras"><i class="fa-solid fa-cart-shopping"></i></a>           
            </div>
            <div class="user-login">
                <a href="/login" target="_blank" title="Ingresa"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </div>
            
        
        <div class="header-menu">                
            <div class="menu">                
                <nav>
                    <ul>
                        <li><a href='#'>Computadoras</a></li> 
                        <li><a href='#'>Laptops</a></li> 
                        <li><a href='#'>Tablets</a></li> 
                        <li><a href='#'>Servicio Técnico</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>    
    <main>
        <section class="section-set-display formulario">

            <article class="formulario-login">
            
                <form action="home" method="post" id="login">
                    <h2>Ingresá</h2>
                    
                    <br>
                    <label class="label-bold" for="username">Usuario
                        <br>
                        <input class= "input-formulario" type="text" name="username" id="username" placeholder="mjabdo@hotmail.com" minlength="5" maxlength="30" required >
                        <br>
                    </label>
                    <label class="label-bold" for="contraseña">Contraseña
                        <input class= "input-formulario"  type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                        <br>
                    </label>

                   
                    <input  class='submit-login' type="submit" value="Ingresar">
                    <input  class='submit-login' type="submit" value="Ingresar con Facebook">
                    <input  class='submit-login' type="submit" value="Ingresar con Google">
                    

                    <a href="#" >¿Olvidaste tu contraseña?</a>

                </form>

            </article>

            <article class="formulario-registro">                
                <form action="home" method="post" id="registro">
                    <div class="registro">
                        <h2>Creá tu cuenta</h2>
                        <h4>Datos Personales</h4>
                    </div>

                    <label class="label-bold"  for="name">Nombre
                        <input class= "input-formulario" type="text" name="name" id="name" required>
                    </label>

                    <label class="label-bold" for="name">Apellido
                        <input class= "input-formulario" type="text" name="name" id="name" required>
                    </label>

                    <label class="label-bold" for="email">Email
                        <input class= "input-formulario" type="email" name="email" id="email" required>
                    </label>

                    <label class="label-bold" for="contraseña">Contraseña
                        <input class= "input-formulario" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                    </label>

                    <label class="label-bold"  for="passconfcon"> Confirmar ontraseña
                        <input class= "input-formulario" type="password" name="passconfcon" id="passconfcon" placeholder=" Confirmar contraseña" required>
                    </label>
                    <br>

                    <input  class='submit-login' type="submit" value="Ingresar">
            
                
        
                </form>
            </article>
        
        </section>
        <section class="section-set-display">
            <div class="btn-whatsapp">
                <a href="https://api.whatsapp.com/send/?phone=+54 11 36346889&text=Tecnomundo!" target="_blank" title="¡Dejanos tu mensaje!"><img src="images/whatsapp-logo.png" alt="whatsapp logo"></a> 
            </div>
        </section>
     </main>

    <footer>
        <div class="contenedor-footer">
        <div class="logo-footer">
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo-footer" alt="logo-footer"></a>
        </div>
        
            <div class="contacto">
                <h6>CONTACTO</h6>
                <ul>
                    <li>Tel: +54 9 116772286</li>
                    <li>Email: tecnomundo@outlook.com</li>
                    <li>Domicilio: Av. Bandera de Los Andes 333</li>
                </ul>
            </div>
            <div class="social-media">
                <ul class="social-media-list" >
                    <li><a href="https://www.instagram.com" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/social-media/instagram.png" class="social-media-icon" alt="icon-instagram"></a></li>
                    <li><a href="https://www.facebook.com" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/social-media/facebook.png" class="social-media-icon" alt="icon-facebook"></a></li>
                    <li><a href="https://www.twitter.com" target="_blank" title="¡Seguinos en Twitter!"><img src="/images/social-media/twitter.png" class="social-media-icon"  alt="icon-facebook"></a></li>
                </ul>
            </div>
        </div>
    </footer>
 </body>
</html>