
<!DOCTYPE html> 
<html>
    <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>TecnoMundo</title> 
        <link href="css/style-login.css" rel="stylesheet"> 
        <link href="css/normalize.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    </head>
    <body>
        <header>
        <div class="header-login">
            
            <div class="burger-menu"> 
                    
                <i class="background-violet  fa-solid fa-bars"></i>  
                                 
            </div>
            
            <div class="logo-login"><img src="images/logo-TM.jpeg" alt="Logo "></div>
            
            <div class="search-bar">
                <form action="#" method="GET">
                
                    <input type="text" placeholder="Search product" name="search">
                    
                    <button>
                        <i class="fa fa-search" style="font-size: 16px;"></i>
                    </button>     
                </form>
             </div>  

            <div class="carrito-compra-login">
                
                <i class="fa-solid fa-cart-shopping"></i>              
                
            </div>           
        </div>
    <div class="header-menu">
        <div class="menu">
        <nav>
            <ul>
            <li><a href='#'>Computadoras</a></li> 

            <li><a href='#'>Laptops</a></li> 

            <li><a href='#'>Tablets</a></li> 

            <li><a href='#'>Servicio Técnico</a></li> 

            </ul>

        </nav>
        </div>
    </div>

      
        </header>
    <main>
        <section class="formulario">

           <article class="formulario-login">
        
             <form action="home" method="post" id="login">
               <h2>Ingresá</h2>
               <br>
               <br>
               <label for="username">Usuario
                   <br>
               <input type="text" name="username" id="username" placeholder="mjabdo@hotmail.com" minlength="5" maxlength="30" required >
               <br>
               </label>
               <label for="contraseña">Contraseña
               <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
               <br>
               </label>


               <input type="submit" value="Ingresar">
               <input type="submit" value="Ingresar con Facebook">
               <input type="submit" value="Ingresar con Google">

               <a href="#" >¿Olvidaste tu contraseña?</a>

            </form>

           </article>

           <article class="formulario-registro">
              <form action="home" method="post" id="registro">
              <div class="registro">
              <h2>Creá tu cuenta</h2>
              <h4>Datos Personales</h4>
              </div>

              <label for="name">Nombre
                <input type="text" name="name" id="name" required>
              </label>

             <label for="name">Apellido
               <input type="text" name="name" id="name" required>
             </label>

             <label for="email">Email
               <input type="email" name="email" id="email" required>
             </label>

             <label for="contraseña">Contraseña
                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
             </label>

             <label for="passconfcon"> Confirmar ontraseña
                <input type="password" name="passconfcon" id="passconfcon" placeholder=" Confirmar contraseña" required>
             </label>
             <br>

             <input type="submit" value="Ingresar">
    
        
    
             </form>
         </article>
        
         </section>
     </main>
     <section>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send/?phone=+54 11 36346889&text=Tecnomundo!" target="_blank">
                <img src="images/whatsapp-logo.png" alt="whatsapp logo">
            </a>
        </div>
    </section>
     <footer>
            <div><img src="images/logo-TM.jpeg" alt="Logo"></div>
            <h4>Contacto</h4>
            <ul>
                <li>Tel: +54 1111-111-111</li>
                <li>Email: tecnomundo@outlook.com.ar</li>
                <li>Dirección: Av. Bandera de los Andes 333</li>
            </ul>
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href=''>Twitter</a></li> 

                <li><a href=''>Facebook</a></li> 
    
                <li><a href=''>Instagram</a></li> 
    
            </ul>
        </footer>
 </body>
</html>