
<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
        
    <!-- MAIN -->
    <main>
        <section class="section-set-display formulario">

            <article class="formulario-login">
            
                <form action="home" method="post" id="login">
                    <h2>Ingresá</h2>
                    
                    <br>
                    <label class="label-bold" for="username">Usuario
                        <br>
                        <input class= "input-formulario" type="text" name="username" id="username" placeholder="mjabdo@hotmail.com" minlength="5" maxlength="30" required >
                        <br>
                    </label>
                    <label class="label-bold" for="contraseña">Contraseña
                        <input class= "input-formulario"  type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                        <br>
                    </label>

                   
                    <input  class='submit-login' type="submit" value="Ingresar">
                    <input  class='submit-login' type="submit" value="Ingresar con Facebook">
                    <input  class='submit-login' type="submit" value="Ingresar con Google">
                    

                    <a href="#" >¿Olvidaste tu contraseña?</a>

                </form>

            </article>

            <article class="formulario-registro">                
                <form action="home" method="post" id="registro">
                    <div class="registro">
                        <h2>Creá tu cuenta</h2>
                        <h4>Datos Personales</h4>
                    </div>

                    <label class="label-bold"  for="name">Nombre
                        <input class= "input-formulario" type="text" name="name" id="name" required>
                    </label>

                    <label class="label-bold" for="name">Apellido
                        <input class= "input-formulario" type="text" name="name" id="name" required>
                    </label>

                    <label class="label-bold" for="email">Email
                        <input class= "input-formulario" type="email" name="email" id="email" required>
                    </label>

                    <label class="label-bold" for="contraseña">Contraseña
                        <input class= "input-formulario" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                    </label>

                    <label class="label-bold"  for="passconfcon"> Confirmar ontraseña
                        <input class= "input-formulario" type="password" name="passconfcon" id="passconfcon" placeholder=" Confirmar contraseña" required>
                    </label>
                    <br>

                    <input  class='submit-login' type="submit" value="Ingresar">
            
                
        
                </form>
            </article>
        
        </section>
        <section class="section-set-display">
            <div class="btn-whatsapp">
                <a href="https://api.whatsapp.com/send/?phone=+54 11 36346889&text=Tecnomundo!" target="_blank" title="¡Dejanos tu mensaje!"><img src="images/whatsapp-logo.png" alt="whatsapp logo"></a> 
            </div>
        </section>
     </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

 </body>
</html>