
<!DOCTYPE html> 
<html>
    <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>TecnoMundo</title> 
        <link href="css/style-login.css" rel="stylesheet"> 
        <link href="css/normalize.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    </head>
    <body>
        <header>
        <div class="header-login">
                <div class="burger-menu"> 
                    <i class="background-violet  fa-solid fa-bars"></i>               
                </div>
            <div class="logo-login"><img src="images/logo-TM.jpeg" alt="Logo "></div>
            <div class="search-bar">
                    <input type="text" placeholder="Search product" name="search">
                    <button>
                        <i class="fa fa-search" style="font-size: 16px;"></i>
                    </button>     
            </div>   
            <div class="carrito-compra-login">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>           
        </div>
        <nav class="categoria">
            <ul>
            <li><a href=''>Computadoras</a></li> 

            <li><a href=''>Laptops</a></li> 

            <li><a href=''>Tablets</a></li> 

            <li><a href=''>Servicio Técnico</a></li> 

            </ul>

        </nav>
      
        </header>
        <main>

        </main>
        <footer>
            <div><img src="images/logo-TM.jpeg" alt="Logo"></div>
            <h4>Contacto</h4>
            <ul>
                <li>Tel: +54 1111-111-111</li>
                <li>Email: tecnomundo@outlook.com.ar</li>
                <li>Dirección: Av. Bandera de los Andes 333</li>
            </ul>
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href=''>Twitter</a></li> 

                <li><a href=''>Facebook</a></li> 
    
                <li><a href=''>Instagram</a></li> 
    
            </ul>
        </footer>
    </body>
</html>