<!DOCTYPE html> 
<html>
    <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>TecnoMundo</title> 
        <link href="css/style-productDetail.css" rel="stylesheet"> 
        <link href="css/normalize.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    </head>
    
    <body>

        <header>
            <div class="header-login">
                
                <div class="burger-menu"> 
                        
                    <i class="background-violet color-blanco padding5 border-radius5 fa-solid fa-bars"></i>  
                                     
                </div>
                
                <div class="logo-login"><img src="images/logo-TM.jpeg" alt="Logo "></div>
                
                <div class="search-bar">
                    <form action="#" method="GET">
                    
                        <input type="text" placeholder="Search product" name="search">
                        
                        <button>
                            <i class="fa fa-search" style="font-size: 16px;"></i>
                        </button>     
                    </form>
                 </div>  
    
                <div class="carrito-compra-login">
                    
                    <i class="fa-solid fa-cart-shopping"></i>              
                    
                </div>           
            </div>
            <div class="header-menu">
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href='#'>Computadoras</a></li> 
                
                            <li><a href='#'>Laptops</a></li> 
                
                            <li><a href='#'>Tablets</a></li> 
                
                            <li><a href='#'>Servicio Técnico</a></li> 
            
                        </ul>
            
                    </nav>
                </div>
            </div>            
        </header>


        <main>
                <section class="fotos">
                    <article class="fotoPincipal flex-grow-100">
                        <div class="img"><img src="public\images\1.jpg" alt="foto Moto e7"></div>
                    </article>
                    <article class="fotosSecundarias">
                        <div class="img"><img src="public\images\1.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\2.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\3.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\4.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\5.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\6.jpg" alt="foto Moto e7"></div>
                        <div class="img"><img src="public\images\7.jpg" alt="foto Moto e7"></div>                        
                    </article>                  
                </section>
                <section class="info">
                    <article class="titulo">
                        <article class="titulo">
                    </article>
                   <article class="precio">
                        <div><h2>$65.500</h2></div>
                        <div><h2>en 12x $ 9.288,45</h2></div>
                        <div class="color-blanco">
                            <a href="#">Ver todos los medios de pago</a>
                        </div>
                    </article>
                    <article class="comprar">
                        <div>
                            <input type="submit" value="submit" name="comprar" id="compar">
                        </div>
                    </article>                    
                </section>
                <section class="características">

                    <article class="caracteristicas">
                        <h3>Características generales</h3>
                        <div class="1">
                            <h4>Marca</h4>
                            <h4>Motorola</h4>
                        </div>
                        <div class="2">
                            <h4>Línea</h4>
                            <h4>Moto E</h4>
                        </div>
                        <div class="3">
                            <h4>Modelo</h4>
                            <h4>E7 Plus</h4>
                        </div>
                    </article>

                    <article class="caracteristicas">
                        <h3>Pantalla</h3>
                        <div class="1">
                            <h4>Tamaño</h4>
                            <h4>6.5 "</h4>
                        </div>
                        <div class="2">
                            <h4>Resolución</h4>
                            <h4>720 px x 1600 px</h4>
                        </div>
                        <div class="3">
                            <h4>Tecnología </h4>
                            <h4>IPS</h4>
                        </div>
                    </article>

                    <article class="caracteristicas">
                        <h3>Memoria</h3>
                        <div class="1">
                            <h4>Memoria interna</h4>
                            <h4>64 GB</h4>
                        </div>
                        <div class="2">
                            <h4>Memoria RAM</h4>
                            <h4>4 GB</h4>
                        </div>
                        <div class="3">
                            <h4>Tipos de tarjeta</h4>
                            <h4>MicroSD</h4>
                        </div>
                    </article>

                    <article class="caracteristicas">
                        <h3>Procesador</h3>
                        <div class="1">
                            <h4>Modelo</h4>
                            <h4>Snapdragon 460</h4>
                        </div>
                        <div class="2">
                            <h4>Cantidad de núcleos</h4>
                            <h4>8</h4>
                        </div>
                        <div class="3">
                            <h4>Velocidad</h4>
                            <h4>1.8 GHz</h4>
                        </div>
                    </article>

                </section>
        </main>

        <footer>
            <div><img src="images/logo-TM.jpeg" alt="Logo"></div>
            <h4>Contacto</h4>
            <ul>
                <li>Tel: +54 1111-111-111</li>
                <li>Email: tecnomundo@outlook.com.ar</li>
                <li>Dirección: Av. Bandera de los Andes 333</li>
            </ul>
            <h4>Redes Sociales</h4>
            <ul>
                <li><a href=''>Twitter</a></li> 

                <li><a href=''>Facebook</a></li> 
    
                <li><a href=''>Instagram</a></li> 
    
            </ul>
        </footer>
    </body>
</html>