<!DOCTYPE html> 
<html>
    <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Moto e7 plus</title> 
        <base href = "/"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/styleunificado.css" rel="stylesheet">
            
    </head>
    <body class="body-productDetail">
        <header>

            <div class="container-header">
                <div class="burger-menu">
                        <i class="background-burger fa-solid fa-bars"></i>
                </div>
    
                <div class="logo">                
                    <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo" alt="Logo"></a> 
                </div>
                <div class="search-bar">
                    <form action="#" method="GET">
                    
                        <input class="input-header" type="text" placeholder="Busca tu producto" name="search">
                        
                        <button>
                            <i class="fa fa-search" style="font-size: 16px;"></i>
                        </button>     
                    </form>
                    </div>  
                    <div class="carrito-compra">
                    <a href="/carrito" target="blank" title=" Tus Compras"><i class="fa-solid fa-cart-shopping"></i></a>           
                </div>
                <div class="user-login">
                    <a href="/login" target="_blank" title="Ingresa"><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
                
            
            <div class="header-menu">                
                <div class="menu">                
                    <nav>
                        <ul>
                            <li><a href='#'>Computadoras</a></li> 
                            <li><a href='#'>Laptops</a></li> 
                            <li><a href='#'>Tablets</a></li> 
                            <li><a href='#'>Servicio Técnico</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
        </header>


        <main class="main-productDetail">

            <section class="titulo">                
                <h2>Moto E7 Plus</h2>                
            </section>

            <section class="product">

                <div class="fotos">
                    <article>
                        <div class="img-div fotoPincipal "><img src="images/1.jpg" alt="foto Moto e7"></div>                    
                        <div class="fotosSecundarias">
                            <div class="img-div"><img src="images/1.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/2.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/3.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/4.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/5.png" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/6.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/7.jpg" alt="foto Moto e7"></div>
                        </div>                    
                    </article>                  
                </div>

                <div class="precio"> 
                    <article class="color-green precio">
                        <h2 class="fotos">$65.500</h2>
                        <h2 class="fotos">en 12x $ 9.288,45</h2>
                        <a class="color-blanco" href="#">Ver todos los medios de pago</a>
                    </article>
                    <article class="comprar">
                        <div>
                            <input class="buy-btn" type="submit" value="comprar" name="comprar" id="compar">
                        </div>
                    </article>                    
                </div>

                <article class="caracteristicas">
                    <div>
                        <h3>General</h3>
                        <div class="primero">
                            <h4>Marca</h4>
                            <h4>Motorola</h4>
                        </div>
                        <div class="segundo">
                            <h4>Línea</h4>
                            <h4>Moto E</h4>
                        </div>
                            <div class="tercero">
                                <h4>Modelo</h4>
                                <h4>E7 Plus</h4>
                            </div>
                    </div>

                    <div>
                        <h3>Pantalla</h3>
                        <div class="primero">
                            <h4>Tamaño</h4>
                            <h4>6.5 "</h4>
                        </div>
                        <div class="segundo">
                            <h4>Resolución</h4>
                            <h4>720 px x 1600 px</h4>
                        </div>
                        <div class="tercero">
                            <h4>Tecnología </h4>
                            <h4>IPS</h4>
                        </div>
                    </div>

                    <div>
                        <h3>Memoria</h3>
                        <div class="primero">
                            <h4>Memoria interna</h4>
                            <h4>64 GB</h4>
                        </div>
                        <div class="segundo">
                            <h4>Memoria RAM</h4>
                            <h4>4 GB</h4>
                        </div>
                        <div class="tercero">
                            <h4>Tipos de tarjeta</h4>
                            <h4>MicroSD</h4>
                        </div>
                    </div>

                    <div>
                        <h3>Procesador</h3>
                        <div class="primero">
                        <h4>Modelo</h4>
                            <h4>Snapdragon 460</h4>
                        </div>
                        <div class="segundo">                       
                            <h4>Cantidad de núcleos</h4>
                            <h4>8</h4>
                        </div>
                        <div class="tercero">                            
                            <h4>Velocidad</h4>
                            <h4>1.8 GHz</h4>
                        </div>
                    </div>

                </div>
            </section>

            <section class="whatsapp">                    
                <div class="btn-whatsapp">                        
                    <a href="https://api.whatsapp.com/send/?phone=calleFalsa123&text=Si están leyendo estoy pongan en le chat que nuestra pagina está buenisima!!!" target="_blank">                    
                        <img src="images/whatsapp-logo.png" alt="whatsapp logo">
                    </a>
                </div>
            </section>

        </main>

        <footer>
            <div class="contenedor-footer">
            <div class="logo-footer">
                <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo-footer" alt="logo-footer"></a>
            </div>
            
                <div class="contacto">
                    <h6>CONTACTO</h6>
                    <ul>
                        <li>Tel: +54 9 116772286</li>
                        <li>Email: tecnomundo@outlook.com</li>
                        <li>Domicilio: Av. Bandera de Los Andes 333</li>
                    </ul>
                </div>
                <div class="social-media">
                    <ul class="social-media-list" >
                        <li><a href="https://www.instagram.com" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/social-media/instagram.png" class="social-media-icon" alt="icon-instagram"></a></li>
                        <li><a href="https://www.facebook.com" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/social-media/facebook.png" class="social-media-icon" alt="icon-facebook"></a></li>
                        <li><a href="https://www.twitter.com" target="_blank" title="¡Seguinos en Twitter!"><img src="/images/social-media/twitter.png" class="social-media-icon"  alt="icon-facebook"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>