@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');
btn
/*>>>>>>BODY<<<<<<*/
body{
    font-family: 'Raleway', sans-serif ;
    font-size: 12px;
    background-color: #363062;
    width: 100%;
    height: 100%;
}

/*alturas de textos*/
h2 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 18px;
}

º {
    font-size: 12px;
}

i{
    font-size: 2em;
    margin-bottom: 10ºx;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

input {
    width: 90%;
    height: 5vh;
    padding: 12px 20px;
    margin: 8px ;
    box-sizing: border-box;
    border: 2px solid beige;
    opacity: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #000000;
    display: flex;
    text-align: center;
}

input[type=submit] {
    background-color:#827397;
    border: solid 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: center;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

/*>>atributos body<<*/

/*flexbox*/
.flex-grow-30 {
    flex-grow: 0.3;
}

.flex-grow-50 {
    flex-grow: 0.5;
}

.flex-grow-70 {
    flex-grow: 0.7;
}

.flex-grow-100 {
    flex-grow: 1;
}


/*>>>boton whatsapp<<*/
  .btn-whatsapp img {
    display:block;
    width:50px;
    height:50px;
    position: fixed;
    right:20px;
    bottom:20px;
    z-index: 3;
}

/*>>>>>>HEADER<<<<<<*/
header{
    background-color: white;
    padding-bottom: 15px;
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
}

nav{
    display: none;
}

article label{
    font-weight: bold;
}

/*>>atributos header<<*/
.background-violet{
    background-color: #827397;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.header-menu{
    display: none;
}

.logo-login{
    flex-grow: 0.1;
    padding-top: 10px;
}

.logo-login img {
    width: 20vw ;
}

.search-bar{
    flex-grow: 0.5;
}

.search-bar button {
    background-color: whitesmoke;
    color: black;
    float: right;
    padding: 0px 10px;
    margin-right: 16px;
    margin-left: 5px;
    font-size: 8px;
    border: solid #bebebe ;
    cursor: pointer;
    border-radius: 10px;
    block-size: 40px;
    margin-top: 5px;    
}




.search-bar form{
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

.carrito-compra-login{
    flex-grow: 0.3;
    text-align: right;
    font-size: 30px;
}

.logo-login img {
    width: 20vw ;
}

.carrito-compra-login i{
    border:#827397 solid ;
    border-radius: 25px;
    padding: 5px;
    color: #827397;
    cursor: pointer;
    font-size: 23px     
}

.burger-menu{
    flex-grow: 0;
    text-align: left;
    padding: 15px;
    cursor: pointer;
    font-size: 17px;
}

.header-login{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    
}

.categoria{
    background-color: #827397;
}

.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;  
}

.search-bar input{
    width: 20vw;
    margin: auto;
}
   
.search{
    float:right;
    margin:7px;     
}  

.formulario {
    width: 90%;
    padding: 10vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    border: 0px 3px 0px 3px solid whitesmoke; 
}


/* hover */

.carrito-compra-login i:hover{
    background-color: rgb(251, 121, 74);
    color: white;
    transition: 0.5s;
    border: solid rgb(251, 121, 74);
    border-radius:25px ;
}

.search-bar button:hover{
    background-color: rgb(251, 121, 74);
    color: white;
    transition: 0.5s;
    border: solid rgb(251, 121, 74);
}

/*>>>>>>MAIN<<<<<<*/

main {
    width: 100%; 
    background-color: #363062;
    display: flex;
    padding-top: 20vh;
    justify-content: center;
    flex-wrap: wrap;  
    z-index: 0; 
}

/*>>atributos main<<*/
.product {
    width: 90%;
    padding: 10vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 0px 3px 0px 3px solid whitesmoke;
}

.titulo{
    width: 90%;
    background-color: whitesmoke;
    color:#827397;
    align-items: center;
    text-align: center;
    border: 0px 3px 0px 3px solid whitesmoke;
    justify-content: center;
}

.fotos{
    width: 100%;
}

div.img img {
    width: 100%;
}

article h2{
    width: 100%;

}

.precio{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #4D4C7D;
    align-items: center;
    text-align: center;
    border-top: 0px 3px 0px 3px solid whitesmoke;
    justify-content: center;
}

/*>>flexbox main<<*/
div.fotos article{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.fotoPincipal{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.fotosSecundarias{
    display: none;
}
/*>>>boton comprar<<*/
.buy-btn {
    background-color: whitesmoke;
    color: black;
    float: right;
    padding: 0px 10px;
    margin-right: 16px;
    margin-left: 5px;
    font-size: larger;
    border: solid #bebebe ;
    cursor: pointer;
    border-radius: 10px;
    block-size: 40px;
    margin-top: 5px;  
    width:200px;
    height:100px;  
}

.buy-btn:hover{
    background-color: rgb(251, 121, 74);
    color: white;
    transition: 0.5s;
    border: solid rgb(251, 121, 74);
}

/*tabla caracteristicas*/
.caracteristicas{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.primero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    border: 2px  solid #4D4C7D;
}
.segundo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    border-left: 2px solid #4D4C7D;
    border-right: 2px solid #4D4C7D;
}
.tercero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    border: 2px solid #4D4C7D;
}
  



/*>>>>>>FOOTER<<<<<<*/
footer{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    padding: 5%;
}

/*>>atributos footer<<*/
footer div {
    width: 50%;
}

footer div img {
    width: 100%;
}

.derecha{
    padding: 5%;
    border-right: 2px solid #4D4C7D;
}

.izquierda{
    padding: 5%;
}

/* TABLET */
@media (min-width: 600px) {
    main {
        padding-top: 25vh;
    }

    .header-login{
        width:100vw;
    }
    .header-menu{
        display: flex;
        width: 100%;
        height: 5vh;
        background-color: #827397;
        padding: 0px 20px;
        justify-content: center;
    
    }
    .menu{
        display: flex;
        margin: auto;
        height: 100%;
           
    }
    
    nav {
        display: flex;
        height: 100%;
    }
    
    nav > ul {
        height: 100%;
        display: flex;
        
    }
    nav > ul > li{
        display: flex;
        height: 100%;
        list-style: none;
        text-align: center;
    }
    
    nav > ul > li >a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        color: white;
        align-items: center;
        padding: 14px;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;
    
    }
    nav > ul > li >a:hover{
        transform: scale(1.1);
        background-color: rgb(251, 121, 74);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

 
    .burger-menu {
        display: none;
    }

    .carrito-compra-login{
        padding-right: 15px;
    }

    .formulario{
        display: flex;
        flex-direction: row;
        padding-top: 20vw ;
        justify-content: space-around;
        
        
    }
   .formulario-login form{
    padding-bottom: 30px; 
     
    }

    .formulario-registro form{
        padding-top: 40px;
    }


   
 

}

@media (min-width: 750px) {
    main {
        padding-top: 35vh;
    }

    .header-menu{
        display: flex;
        width: 100%;
        height: 60px;
        background-color: #827397;
        padding: 0px 20px
    
    }
    .menu{
        display: flex;
        margin: auto;
        height: 100%;
        
    
    }
    
    nav {
        display: flex;
        height: 100%;
    }
    
    nav > ul {
        height: 100%;
        display: flex;
        
    }
    nav > ul > li{
        display: flex;
        height: 100%;
        list-style: none;
        
    }
    
    nav > ul > li >a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
        padding: 25px;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;
    
    }
    nav > ul > li >a:hover{
        transform: scale(1.1);
        background-color: rgb(251, 121, 74);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .burger-menu {
        display: none;
    }

    .carrito-compra-login{
        padding-right: 15px;
    }

    section{

        display: flex;
        flex-direction: row;

     
    }

}

/*descktop*/
@media (min-width: 1000px) {
    .caracteristicas{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    div.fotos article{
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }
     
    .fotoPincipal{
        display: flex;
        width: 70%;
        flex-wrap: wrap;
    }
    
    .fotosSecundarias{
        display: flex;
        width: 30%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    main {
        padding-top: 40vh;
    }

    .header-menu{
        display: flex;
        
        width: 100vw;
        height: 60px;
        background-color: #827397;
        padding: 0px 20px
    
    }
    .menu{
        display: flex;
        justify-content: center;
        margin: auto;
        height: 100%;
        width: 100%;
    
    }
    
    nav {
        display: flex;
        height: 100%;
    }
    
    nav > ul {
        height: 100%;
        display: flex;
        
    }
    nav > ul > li{
        display: flex;
        height: 100%;
        list-style: none;
        
    }
    
    nav > ul > li >a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
        padding: 25px;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;
    
    }
    nav > ul > li >a:hover{
        transform: scale(1.1);
        background-color: rgb(251, 121, 74);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .burger-menu {
        display: none;
    }

    .carrito-compra-login{
        padding-right: 15px;
    }

    section{

        display: flex;
        flex-direction: row;

     
    }

}






