<!DOCTYPE html> 
 
<html>
     <!-- HEAD -->
     <head lang="en"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>TecnoMundo</title> 
        <base href = "/"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/style-listadoCelulares.css" rel="stylesheet">
    </head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
        
    <!-- MAIN -->

        <main>
        <div class = 'main-listaProductos'>
            
        <section class="section-set-display filtrados">
            <div class="filtros-aplicados">
                <ul>
                    <li><h2>Filtros aplicados</h2></li>
                    <li><h3 class="marcas">Marcas</h3>
                        <ul class="tipo-marcas">
                            <div class="checkbox">
                               <input type="checkbox" id="samsung" name="samsung">
                               <label for="samsung"><h4>Samsung</h4></label>
                            </div>
                            
                            <div class="checkbox">
                                <input type="checkbox" id="xiaomi" name="xiaomi">
                                <label for="xiaomi"><h4>Xiaomi</h4></label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="huawei" name="huawei">
                                <label for="huawei"><h4>Huawei</h4></label>
                            </div>
                                
                            
                            
                        </ul>
                    
                    </li>

                    
                    <li><h3 class="precios">Precios</h3>
                        <ul class="gama-precios">
                            
                            <li class="filtros-precios" ><h3>Hasta $10.000</h3></li>
                            <li class="filtros-precios" ><h3>$10.000 - $50.000</h3></li>
                            <li class="filtros-precios" ><h3>$50.000 - $100.000</h3></li>
                            <li class="filtros-precios" ><h3>Arriba de $100.000</h3></li>
                            


                        </ul>
                    
                    </li>
    
                </ul>

            </div>

        </section>

        <section class=" section-set-display celulares">
            <div class="container-celulares">
                
                <article class='article-style-celulares article01'>
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/samsung-Galaxy-m23.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Samsung Galaxy M23 5G</h5>
                    </div>
                    <div class="price-product">
                        <h5>$134.200</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$138.450</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                        
                    </div>
                </div>
                
            </article>
            <article class="article-style-celulares article02">
                
                <div class="imgProduct"><img src='images/products/samsung-galaxy-A22.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Samsung Galaxy A22 128 GB 4 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$55.000</h5>
                    </div> 
                 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                        
                    </div>
                </div>
                
            </article>
            <article class="article-style-celulares article03">
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/Samsung-Galaxy-A03.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Samsung Galaxy A03 Rojo</h5>
                    </div>
                    <div class="price-product">
                        <h5>$79.999</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$84.999</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                        
                    </div>
                </div>
                
            </article>

        </div>

        
        <div class="container-celulares">
            <article class="article-style-celulares article01">
                
                <div class="imgProduct"><img src='images/products/xiaomi-note11.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Xiaomi Redmi Note 11 128 GB azul ocaso 4 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$63.499</h5>
                    </div> 
                    
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>

            </article>
            <article class="article-style-celulares article02">
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/xiaomi-poco.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Xiaomi Poco M3  128 GB negro 4 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$60.500</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$64.999</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>
            <article class="article-style-celulares article03">
                <div class="imgProduct"><img src='images/products/xiaomi-poco-F3.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Xiaomi Poco F3 5G 128 GB blanco ártico 6 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$86.999</h5>
                    </div> 
                   
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>

        </div>


        
        <div class="container-celulares">
            <article class="article-style-celulares article01">
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/huawei-mate30.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Huawei Mate 30 Pro 256 GB púrpura cósmico 8 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$498.500</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$505.999</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>

            </article>
            <article class="article-style-celulares article02">
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/huawei-p30.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Huawei 30E Pro 256 GB black 8 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$398.999</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$403.999</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>
            <article class="article-style-celulares article03">
                <div class="imgProduct"><img src='images/celulares/huawei-P50.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Huawei P50 Pro Dual SIM 512 GB cocoa gold 8 GB RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$370.000</h5>
                    </div> 
                     
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>

        </div>

        <div class="container-celulares">
            <article class="article-style-celulares article01">
                
                <div class="imgProduct"><img src='images/products/galaxy-tab8.png'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Samsung Galaxy Tab A8</h5>
                    </div>
                    <div class="price-product">
                        <h5>$39.999</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6></h6>
                        <h6></h6>
                    </div> 
                    
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
    
            </article>
            <article class="article-style-celulares article02">
                <div class="imgOferta"><img src="images/products/oferta.webp" alt="oferta"></div>
                <div class="imgProduct"><img src='images/products/galaxy-tabS8.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Tablet Samsung Galaxy Tab S8 128gb 8gb Ram 11 </h5>
                    </div>
                    <div class="price-product">
                        <h5>$144.999</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6 class="precio-tachado">$155.999</h6>
                        <h6>15% OFF</h6>
                    </div> 
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>
            <article class="article-style-celulares article03">
                <div class="imgProduct"><img src='/images/products/galaxy-tabS7.jpg'></div>
                <div class="descriptionProduct listProduct">
                    <div class="title-product">
                        <h5>Tablet Samsung Galaxy Tab S7 256GB black y 8GB  RAM</h5>
                    </div>
                    <div class="price-product">
                        <h5>$160.000</h5>
                    </div> 
                    <div class="discount-listaProducto">
                        <h6></h6>
                        <h6></h6>
                    </div>                    
                    <div class="verProducto">
                        
                        <input  class='submit-verProducto' type="submit" value="Ver Producto">
                        
                    </div>
                </div>
                
            </article>
    
        </div>
    
   
     </main>
    <footer>
    </footer>
</body>