<footer>
    <div class="contenedor-footer">
    <div class="logo-footer">
        <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo-footer" alt="logo-footer"></a>
    </div>
    
        <div class="contacto">
            <h6>CONTACTO</h6>
            <ul>
                <li>Tel: +54 9 116772286</li>
                <li>Email: tecnomundo@outlook.com</li>
                <li>Domicilio: Av. Bandera de Los Andes 333</li>
            </ul>
        </div>
        <div class="social-media">
            <ul class="social-media-list" >
                <li><a href="https://www.instagram.com" target="_blank" title="¡Seguinos en Instagram!"><img src="/images/social-media/instagram.png" class="social-media-icon" alt="icon-instagram"></a></li>
                <li><a href="https://www.facebook.com" target="_blank" title="¡Seguinos en Facebook!"><img src="/images/social-media/facebook.png" class="social-media-icon" alt="icon-facebook"></a></li>
                <li><a href="https://www.twitter.com" target="_blank" title="¡Seguinos en Twitter!"><img src="/images/social-media/twitter.png" class="social-media-icon"  alt="icon-facebook"></a></li>
            </ul>
        </div>
    </div>
</footer>