<header>

    <div class="container-header">
        <div class="burger-menu">
                <i class="background-burger fa-solid fa-bars"></i>
        </div>

        <div class="logo">                
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo" alt="Logo"></a> 
        </div>
        <div class="search-bar">
            <form action="#" method="GET">
            
                <input class="input-header" type="text" placeholder="Busca tu producto" name="search">
                
                <button>
                    <i class="fa fa-search" style="font-size: 16px;"></i>
                </button>     
            </form>
            </div>  
            <div class="carrito-compra">
            <a href="/product/productCart" target="blank" title=" Tus Compras"><i class="fa-solid fa-cart-shopping"></i></a>           
        </div>
        <div class="user-login">
            <a href="/user/login" target="_blank" title="Ingresa"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </div>
        
    
    <div class="header-menu">                
        <div class="menu">                
            <nav>
                <ul>
                    <li><a href='/product/listPhones'>Celulares</a></li> 
                    <li><a href='/product/listTablet'>Tablets</a></li> 
                    <li><a href='/product/listNotebook'>Laptops</a></li> 
                    <li><a href='#'>Servicio Técnico</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</header>
