<header>

    <div class="container-header">
        <div class="burger-menu">
                <i class="background-burger fa-solid fa-bars"></i>
        </div>

        <div class="logo">                
            <a href="/home" target="_blank" title="Principal"><img src="/images/logo-tecnomundo3.png" class="logo" alt="Logo"></a> 
        </div>
        <div class="search-bar">
            <form action="/search" method="GET">
            
                <input class="input-header" type="text" placeholder="Busca tu producto" name="search">
                
                <button>
                    <i class="fa fa-search" style="font-size: 16px;"></i>
                </button>     
            </form>
        </div>  
        <div class="carrito-compra">
            <a href="/product/productCart" target="blank" title=" Tus Compras"><i class="fa-solid fa-cart-shopping"></i></a>           
        </div>
        <!-- Por ahora no tiene funcionalidad este icono de admin. Definir si va o no va -->
            <!-- <div class="user-login">
                <a href="#" title="admin"><i class="fa-regular fa-pen-to-square"></i></a>
            </div>
       -->
        <% if (locals.usuario){ %>
            <!--Cuando ha iniciado secion-->
            <div class="user-img">
                <img  src="/images/users/<%=locals.usuario.avatar %>"  alt="usuario">
            </div>
            <div class="user-login">
                <a href="/user/logout"  title="Logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        <% } else{ %>
            <!--Cuando no ha iniciado secion-->
            <div class="user-login">
                <a href="/user/login"  title="login"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        <% } %>

    </div>
        
    
    <div class="header-menu">                
        <div class="menu">                
            <nav>
                <ul>
                    <% if (locals.usuario && locals.usuario.role == 9) { %>
                        <li><a href='/product/create'>Crear Producto</a></li> 
                    <% } %>
                    <li><a href='/product'>Todos Los Productos</a></li>
                    <li><a href='/product'>Celulares</a></li> 
                    <li><a href='/product'>Tablets</a></li> 
                    <li><a href='/product'>Laptops</a></li> 
                    <li><a href='#'>Servicio Técnico</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</header>
